
project_id = "qzwxisdfwswsrbzvpzlo"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[realtime]
enabled = true

[storage]
enabled = true

[auth]
enabled = true

[functions]
[functions.summarize-conversations]
verify_jwt = false
